<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">{{ appTitle }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/home']"
            [routerLinkActive]="['active']"
            >Home</a
          >
        </li>
      </ul>
      <ul class="navbar-nav flex-row ms-md-auto me-4">
        <li class="nav-item" *ngIf="!isAuthenticated">
          <button class="btn btn-outline-primary" (click)="login()" >Login</button>
        </li>
        <li class="nav-item dropdown" *ngIf="isAuthenticated"  ngbDropdown>
          <a
            class="nav-link dropdown-toggle"
            id="userDropdown"
            ngbDropdownToggle
            role="button"
            aria-expanded="false"
          >
            User
          </a>
          <div ngbDropdownMenu aria-labelledby="userDropdown">
            <button class="dropdown-item" (click)="logout()">Log Out</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-content></ng-content>
